{{ partial "header.html" . }}
<div class="content">
	<div class="top-title">Recent entries</div>

	{{ $paginator := .Paginate (where .Data.Pages "Type" "journal") }}
	{{ range $paginator.Pages }}
		<h2><span class='date'> {{ .Date.Format "2 Jan 2006" }}</span> <a href="{{ .Permalink }}">{{ .Title}}</a></h2>
		{{ .Content }}
	{{ end }}

	<div class="top-title">Pages</div>
	{{ range .Data.Pages }}
		{{ if eq .Type "page" }}
			<h2><a href="{{ .Permalink }}">{{ .Title}}</a></h2>
		{{ end }}
	{{ end }}
</div>
<div class="pagination">
	{{ template "_internal/pagination.html" . }}
</div>
<div class="footer">
</div>
{{ partial "footer.html" . }}